.wrapper {
    width: 100%;
    height: 496x;
    margin-top: 1rem;
    background-color: var(--white-smoke);
}

.container {
    width: var(--layout-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    // height: 221px;
}
